 @charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'source_sans_prolight';
	src: url('fonts/sourcesanspro-light-webfont.eot');
	src: url('fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sourcesanspro-light-webfont.woff') format('woff'), url('fonts/sourcesanspro-light-webfont.ttf') format('truetype'), url('fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'source_sans_proextralight';
	src: url('fonts/sourcesanspro-extralight-webfont.eot');
	src: url('fonts/sourcesanspro-extralight-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sourcesanspro-extralight-webfont.woff') format('woff'), url('fonts/sourcesanspro-extralight-webfont.ttf') format('truetype'), url('fonts/sourcesanspro-extralight-webfont.svg#source_sans_proextralight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'source_sans_proregular';
	src: url('fonts/sourcesanspro-regular-webfont.eot');
	src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sourcesanspro-regular-webfont.woff') format('woff'), url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'), url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'source_sans_prosemibold';
	src: url('fonts/sourcesanspro-semibold-webfont.eot');
	src: url('fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sourcesanspro-semibold-webfont.woff') format('woff'), url('fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'), url('fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'source_sans_probold';
	src: url('fonts/sourcesanspro-bold.eot');
	src: url('fonts/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'), url('fonts/sourcesanspro-bold.woff') format('woff'), url('fonts/sourcesanspro-bold.ttf') format('truetype'), url('fonts/sourcesanspro-bold.svg#source_sans_probold') format('svg');
	font-weight: normal;
	font-style: normal;
}
header{border-top: 13px solid #e95436;}
header img{margin: 8px 0px 16px 0px;}
#grad{
    height: 25px;
    background: -webkit-linear-gradient(#cac9ca, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#cac9ca, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#cac9ca, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#cac9ca, white); /* Standard syntax (must be last) */}
.navbar-nav a {
	font-family: 'source_sans_probold'; 
	color: #5e350d;
	font-size: 18px;}
body p{
	color: #786c50;
	font-family: 'source_sans_proregular';
	font-size: 18px; }
body h4{
	color: #45350f;
	font-size: 18px;
	font-family: 'source_sans_probold'; }
.container{
	max-width: 942px;
	width: 100%;
	margin: auto;padding: 0px;}
#imgback img{width: 100%;}
 section li{float: left;margin: 13px;list-style-type: none;}
 #profilemenu a{
	font-family: 'source_sans_probold';
    text-decoration: none !important;;
	color: #5e350d;
	font-size: 17px;}
 #firstsection{border-top: 5px solid #fab518;border-bottom: 3px solid #fab518;}
 #firstsection h3{font-family: 'source_sans_probold'; font-size: 36px;color: #5e350d}
 #firstsection h4{font-family: 'source_sans_probold'; font-size: 18px;color: #45350f}
 #firstsection img{float: right;
	margin-top: 22px;}
 #title{color: #45350f;font-size: 30px;font-family: 'source_sans_prosemibold'; }
 #map{background: url("../images/map.png") no-repeat 0px 4px;}
section li{float: left;margin: 13px;list-style-type: none;}
#profilemenu a{
	font-family: 'source_sans_prolight';
    text-decoration: none !important;;
	color: #5e350d;
	font-size: 17px;	
	     }
#profilemenu a{
	font-family: 'source_sans_prolight';
    text-decoration: none !important;;
	color: #5e350d;
	font-size: 24px;
}
#ass
	{
 	font-family: 'source_sans_prosemibold';
    text-decoration: none !important;;
	color: #5e350d;
	font-size: 24px;
	margin-top: 4px;
	 }
#pro
	{
 	font-family: 'source_sans_prolight';
    text-decoration: none !important;;
	color: #5e350d;
	font-size: 24px;
	margin-top: 4px;
	border-left: solid #5e350d;
	border-width: 2px;
	height: 27px;
    padding-left: 15px;
    margin-left: -12px;
    padding-top: 0px;
	 }
#firstsection{border-top: 5px solid #fab518;border-bottom: 3px solid #fab518;}
#firstsection h3{font-family: 'source_sans_probold'; font-size: 30px;color: #5e350d}
#firstsection h4{font-family: 'source_sans_probold'; font-size: 18px;color: #45350f}
#firstsection img{float: right;margin-top: 22px;}
#title{color: #45350f;font-size: 30px;font-family: 'source_sans_prosemibold'; }
#map{background: url("../images/map.png") no-repeat 0px 4px;
	color: #db9753;
	padding-left: 20px;
	font-size: 19px;
	font-family: 'source_sans_probold';}
.secondsection{border-bottom: 3px solid #fab518;margin-top: 15px;}
.secondsection h3{font-family: 'source_sans_probold'; font-size: 30px;color: #5e350d}
.thirdsection h3{font-family: 'source_sans_probold'; font-size: 30px;color: #5e350d}
.secondsection img{float: right;
	margin-top: 22px;}
.thirdsection{border-bottom: 3px solid #fab518;}
.thirdsection h4{margin-top:20px;}
.thirdsection img{float: right;margin-top: 36px;}
.lastsection{border-bottom: 1px solid #fab518;margin-top: 7px;}
.lastsection img{float: right;margin-top: 7px;}
footer{border-top: 15px solid #e95436;margin-top: 50px;}
.navbar-nav{margin-top: 30px;}
.footernav{
	list-style-type: none;
	margin-left: 70px;
	margin-top: 30px;
	padding-left: 0;
	}
footer ul li { display: inline;padding: 15px;}
.footernav a {
	font-family: 'source_sans_prolight';
	font-size: 24px;
	color: #786c50; 
	text-decoration: none !important;

 }
 #footerimages{padding: 36px 0px 0px 115px;}
 #profilemenu{float: right;display: inline;}
 #doller{float: right;
	margin: 36px -58px 15px 49px;
	color: #473610;
	font-size: 24px;
	font-family: 'source_sans_prosemibold'}
 #date{color: #473610;font-family: 'source_sans_proregular';font-size: 20px; }
 #para{color: #786c50;}

}
#footerimages{padding: 36px 0px 0px 115px;}
#profilemenu{float: right;display: inline; margin-right: -12px;}
#doller{float: right;
	margin: 36px -96px 15px 49px;
	color: #473610;
	font-size: 24px;
	font-family: 'source_sans_prosemibold'}
.date{color: #473610;font-family: 'source_sans_proregular';font-size: 20px; }

#para{color: #786c50;}

#para{color: #786c50;
	font-family: 'source_sans_proregular';
	font-size: 20px;}
/***********css for login page***************/

.modal-lg{
	max-width: 775px;		
}
.modelb{border: 5px solid #fab518;
 border-radius: 5px;
	}

#login{color: #5e350d;
  font-family: 'source_sans_prolight';
  font-size: 48px;
  border-bottom: 5px solid #fab518;
  padding-bottom: 10px;
  margin: 1px auto;
  margin-left: 50px;
margin-right: 50px;
}
.loginxyz{
border-radius: 5px;
padding: 36px;
height: 453px;
width: 800px;
margin-left: -16px;

}
.socialacc{
  font-family: 'source_sans_probold';
  font-size: 20px;
  color: #5e350d;
  line-height: 11px;
margin-left: 50px;
}
.create1{
	margin-top: 40px;
}
.input-group input{width: 260px;}
#loginform{max-width: 260px;width: 100%;}
.loginform .form-control {
  width: 260px;
  height: 38px;
  font-size: 14px;
  color: #3f8092;
  border: 1px solid #fab518;
  border-radius: 0px;
}
.loginform1 .form-horizontal{margin-left: 15px;}
.loginform1{margin-top: 25px;}
.loginform{margin: 0 auto;
  border: 5px solid #e2ac10;
  padding: 0px 30px 0px 50px;
  border-radius: 10px;fab518
  max-width: 728px;
  height: 445px;
  margin-top: 35px;}
.loginform .control-label {
  font-family: 'source_sans_probold';
  font-size: 20px;
  color: #5e350d;
  text-align: left;
}
.loginform .btn-warning {
  color: #5e350d; 
  font-size: 20px;font-family: 'source_sans_probold';
  width: 120px;
  border-radius: 10px;
  background: #ecbc39;
  outline: none;
}
.lg .btn-warning{
	color: #5e350d; 
  font-size: 20px;font-family: 'source_sans_probold';
  width: 120px;
  border-radius: 10px;
  background: #ecbc39;
  outline: none;
}

#fblogin{
  margin-left: 50px;
  padding-left: 30PX;
  height: 200px;
  border-left: solid 2px #fab518;
}

#use1{
	margin-left: -40px;
}
#logjpg{
	margin-top: 10px;
	margin-left: 25px;
}
/*****************css for Giglist********************/
#giglisth2{color: #5e350d;font-family: 'source_sans_probold';font-size: 30px;}
#bid {
	margin-left: -10px;
	font-family: 'source_sans_probold';
	font-size: 18px;
	color: #45350f;
}
.bid {
	float: right;
    font-family: 'source_sans_probold';
	font-size: 18px;
	color: #45350f;
	}
.firstrow{border-bottom: 1px solid #fab518; padding-bottom: 20px;}
#gigpara{padding-top: 40px;}
.giginnerimg img{float: right; }
#front{padding-left: 51px;}
.gigimg .btn-warning{
	color: #fff;
	font-size: 20px;
	font-family: 'source_sans_probold';
	width: 175px;
	border-radius: 10px;
	background: #EC6B39;
	outline: none;:;
	margin: 22px;
	margin: 33px 33px;

border:1px solid #f7f25f;	
}
#logingigster1 {
color: #5e350d;
font-family: 'source_sans_prolight';
font-size: 48px;
border-bottom: 5px solid #fab518;
padding-bottom: 10px;
margin: 1px auto;
/* margin-left: 50px; */
/* margin-right: 50px; */
}

.gigimg{ margin-top: 28px;padding-left:90px;}

.lastpagination{float: right;}
.lastpagination li{margin: 4px;}
.lastpagination .active>a,.active>a:hover {background-color: #EC6B39;
border-color: ##EC6B39;}
.lastpagination .pagination>li>a,.lastpagination .pagination>li>span {
	color: #5e350d;
	font-size:24px ;
	font-family: 'source_sans_prolight';
	text-decoration: none;	
	border: 1px solid #ecbb39;
	border-radius: 6px;
	margin-top: 40px;}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
z-index: 2;
color: #fff;
cursor: default;
background-color: #EC6B39;
border-color: #EC6B39;
}

.giglast #login {
	color: #5e350d;
	font-family: 'source_sans_prolight';
	font-size: 48px;
	border-bottom: 3px solid #fab518;
	padding-bottom: 15px;
	margin: 41px auto;
}
.giglast span {
	font-family: 'source_sans_probold';
	font-size: 26px;
	color: #5e350d;
    margin: 10px}
.giglast img{float: left;}
.giginnerimg h4{float: right;margin-top: 6px;}
#artist{font-size: 15px;font-family: 'source_sans_prolight';color: #786c50;}
.giglast{
	margin-top: -50px;
}
.lastpagination{
	margin-top: -40px;
}


/*****************css for Giglist********************/
.ourgigstertop{margin-top: 50px;}
.invitebtn .btn-warning {
	color: #fff;
	font-size: 22px;
	font-family: 'source_sans_probold';
	width: 220px;
	border-radius: 10px;
	background: #EC6B39;
	outline: none;
	margin: 22px;
	margin: 13px 57px;
}
#overview {
color: #45350f;
font-size: 30px;
font-family: 'source_sans_prosemibold';
margin-top: 35px;
}
.giglast #similar {
color: #5e350d;
font-family: 'source_sans_prolight';
font-size: 48px;
border-bottom: 3px solid #fab518;
padding-bottom: 15px;
margin: 80px 0px 35px 0px;
}
#firsttitle {color: #45350f;
font-size: 30px;
font-family: 'source_sans_prosemibold';
margin-top: 39px;
}
.postgigform{
border: 5px solid #e2ac10;
padding: 15px 30px 15px 50px;
border-radius: 10px;
height: 100%;
/*max-width: 728px;
margin-top: 35px;
margin: 0 auto;*/
}
.modal-content{border-radius: 15px;}


/************Invite model****color: *************/
#gigmenu {

	font-family: 'source_sans_prolight';
    text-decoration: none !important;;
	color: #5e350d;
	font-size: 16px;float: right;display: inline;}


/** pop up **/


/** My Assignment Css **/

.lady{

	font-family: 'source_sans_probold'; font-size: 36px;color: #5e350d;
	
}
.cs{
	font-family: 'source_sans_proregular'; font-size: 30px;color: #5e350d;

}

.sept{
	font-family: 'source_sans_proregular'; font-size: 20px;color: #5e350d;
}
.progress{
	width: 560px;
	height: 30px;}
.progress-bar{
	background-color: #e2ac10;
}

span.c{margin-left: 350px;
}
.mike{
margin-top: -30px;
margin-left: 40px;

}
.tyco{
	float: right;
	margin-top: 8px;
}

.myassg{font-family: 'source_sans_prolight'; font-size: 48px;color: #5e350d;

}

/*************Post gig css***************/
.postgigforminner placeholder{
	color: #db9753;
	font-size: 18px;
	font-family: 'source_sans_prosemibold';
}
.postgigforminner label{
	font-family: 'source_sans_probold';
	font-size: 20px;
	color: #5e350d;
	line-height: 11px;}
/*.postgigforminner {margin-left: 15px;}*/
.postgigforminner input[type=text]{width: 70%;border-radius: 0px;border: 1px solid #fab518;padding: 6px;}
#gigdescription{width: 70%;border-radius: 0px;border: 1px solid #fab518;}
.postgigforminner ::-webkit-input-placeholder {
	font-family: 'source_sans_prosemibold';
	font-size: 18px;
    color: #db9753;
	opacity:1;
}
.source{font-family: 'source_sans_probold';
font-size: 20px;
color: #5e350d;
line-height: 11px;}
#login1{
color: #5e350d;
font-family: 'source_sans_prolight';
font-size: 48px;
border-bottom: 5px solid #fab518;
padding-bottom: 10px;
margin: 1px auto;}
/*.postgigforminner .form-group{
	margin-top: 15px;
	margin-left: 10px;}*/
.postgigforminner .radio-inline{
	padding-left: 0px;
	color: #e2ae7a;
	font-size: 18px;
	font-family: 'source_sans_prosemibold';}
.postgigforminner .btn-warning {
	color: #5e350d;
	font-size: 22px;
	font-family: 'source_sans_prosemibold';
	width: 180px;
	border-radius: 10px;
	background: #EC6B39;
	outline: none;
	margin-top: 12px}
.postgigforminner {padding-top: 15px;}
/*.secondinput{width: 30%;}*/

.loginlead{font-family: 'source_sans_probold';
font-size: 20px;
color: #5e350d;
line-height: 11px}
.form-horizontal .control-label{text-align: left;}

/************Invite model*****************/
#invite {
color: #5e350d;
font-family: 'source_sans_prolight';
font-size: 48px;
border-bottom: 5px solid #fab518;
width: 627px;
padding-bottom: 5px;
margin: 35px auto;
margin-left: -1px;
}
.invitegig{
	margin: 0 auto;
	border: 5px solid #e2ac10;
	padding: 0px 30px 0px 50px;
	border-radius: 10px;
	max-width: 728px;
	height: 100%;
	margin-top: 35px;}
  .invitegig .radio label, .checkbox label{
    color: #e4b17e;
	font-size: 22px;
	font-family: 'source_sans_proregular';
	padding-top: 12px;
}
.invitegig .radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox]{position: relative;
margin: 4px;};
.gignext .btn-warning{
	color: #5e350d;
	font-size: 22px;
	font-family: 'source_sans_probold';
	width: 220px;
	border-radius: 10px;
	margin-bottom: 50px;}
/** gigsters.....**/
.art-title{ font-family: 'source_sans_probold'; font-size: 26px;color: #5e350d; ;margin-left: -60px;}
.art-title span.star{float:right;}
.artist-data{width:100%; padding-bottom: 25px;}
.artst-pic{width:33%;position: relative;}
.artst-pic span a{color: #fff; font-size: 16px; display: none;}
.artst-pic span.artst-like{position: absolute; left: 11%; bottom: 10px;}
.artst-pic span.artst-share{position: absolute; left:46%; bottom: 10px;}
.artst-pic span.artst-plus{position: absolute; right: 9%; bottom: 10px;}
.artst-prfle{width:63%;}
.artst-prfle span.artst-sub{font-family: 'source_sans_probold'; font-size: 19px;color: #db9753; float:left; width:100%; font-weight:normal;}
.artst-prfle span.artst-sub span.byname{font-weight:normal; color:#db9753;font-size:19px;}
.artst-prfle span.artst-sub span.daysago{float:right; font-size:12px;}
.artst-prfle span.artst-ux{font-size:16px; color:#473610; float:left; width:100%; font-weight:normal;}
.artst-prfle span.artst-ux span.byname{font-weight:normal; color:#473610;font-size:19px;}
.artst-prfle span.artst-ux span.daysago{float:right; font-size:12px;}
.counter-tab{float: left; width: 100%; padding-top: 45px;}
.counter-tab div{float: left; width: 33%; color: #aaa; font-size: 12px;}
.bot-links{float: left; width: 100%; padding-top: 10px;}
.bot-links a{display: inline-block; padding: 5px; background: #ccc; font-size: 12px; margin-bottom: 5px; color: #9c9c9c; text-decoration:none;}
span.play-icon{position: absolute; left: 31%; top: 32%; display: none;}
.artst-pic:hover img.play-icon, .artst-pic:hover span a{display: block; } 
#our{
	font-family: 'source_sans_prolight'; font-size: 48px;color: #5e350d;
	margin-bottom: 50px;
	border-bottom: 5px solid #fab518;
}
#rect{
	width: 735px;
	height: 453px;
	border:solid #e2ac10;
		border-radius: 7px;
		border-width: 5px;
		padding: 50px;
		font-family: 'source_sans_prolight'; font-size: 48px;color: #5e350d;
	}
#bord{
	border-bottom:solid #e2ac10;
	border-width: 5px;
}
#create{
	font-family: 'source_sans_probold'; font-size: 20px;color: #5e350d;
	margin-top: 45px;
}
.searchbox .navbar-form {
	width: auto;
padding-top: 0;
padding-bottom: 0;
margin-right: 0;
margin-left: 0;
border: 0;
-webkit-box-shadow: none;
box-shadow: none;
padding: 10px 15px;
margin-top: 8px;
margin-right: -15px;
margin-bottom: 8px;
margin-left: -15px;
}
/*.searchbox .form-group{
	border: 1px solid #fab518;
	border-radius: 5px;
}*/
/*********mygig-bidding   ********/

#giglog{
	color: #5e350d;
	font-family: 'source_sans_prolight';
	font-size: 48px;
	border-bottom: 5px solid #fab518;
	padding-bottom: 5px;}
.mygig h2{
	font-size: 30px;
	font-family: 'source_sans_probold';
	color: #5e350d;
}
.mygig .selectbid{
	font-size: 24px;
	font-family: 'source_sans_proregular';
	color: #5e350d;
}
.mygig {padding-bottom: 15px;}
.rightsidegig{
	padding-left: 35px;
	margin-top: 35px;}
.rightsidegig .firstbid{padding-left: 50px;}
.rightsidegig h4,h5 {font-size: 24px;font-family: 'source_sans_proregular';color: #5e350d;}
.clearline{
	clear: both;
	margin: 0px 15px;
	border-bottom: 2px solid #fab518;
	padding-top: 10px;}

	/**************Assignment css***********/

#datefirst{
		font-size: 20px;
		font-family: 'source_sans_proregular';
		color: #473610;
		margin-left: -16px
	}
#datesecond{
	font-size: 20px;
	font-family: 'source_sans_proregular';
	color: #473610;
	margin-left: 71px;}
#assigndoller{
	color: #473610;
	font-size: 24px;
	font-family: 'source_sans_prosemibold';
	margin-top: 35px;
}
.start{margin-top: 56px;}
.threeword{
	font-size: 24px;
	color: #45350f;
	font-family: 'source_sans_prosemibold';
	padding: 0px 42px 0px 0px;
}
.progressbar{
	width: 560px;
	height: 30px;
	margin-top: 55px;
}
#bond{
	font-size: 20px;
	font-family: 'source_sans_probold';
	color: #473610;
	margin-left: 15px;
}
{margin-top: 56px;}
.mikename{
	float: right;
	font-size: 30px;
	font-family: 'source_sans_prosemibold';
	color: #5e350d; }
.myassign {padding-bottom: 15px;margin-left: 0px;}
.james{
	font-size: 20px;
	font-family: 'source_sans_proregular';
	color: #473610;
    margin: 16px 0px 0px 15px;
	line-height: 20px;
}
.clearfirst{
	clear: both;
	margin: 0px 15px;
	border-bottom: 1px solid #fab518;
	padding-top: 10px;
	}
.h3inner{
	float: right;
    font-size: 18px;
    font-family: 'source_sans_prosemibold';
    color: #473610;
    }
 .firstdinner{
 	margin-top: 15px;
 }
  .secondinner{
  	margin-top: 25px;
  }
/************ Gig details*************/

#gigdetail {border-bottom: 3px solid #fab518;}
.service{
	font-size: 18px;
	font-family: 'source_sans_proregular';
	color: #473610;
	margin-top: 5px;
	}
.clearsecond{
	clear: both;
	border-bottom: 1px solid #fab518;
	padding-top: 10px;
}	
/*.giginner {margin-top: -35px;}*/
.mailsymbol{margin-top: -22px;text-align: right;;}
#alldate{
	font-size: 20px;
	font-family: 'source_sans_proregular';
	color: #473610;
	margin-left: 15px;
}
{padding-left: 51px;}
#gigger {
color: #5e350d;
font-family: 'source_sans_prolight';
font-size: 48px;
border-bottom: 5px solid #fab518;
padding-bottom: 10px;
margin: 1px auto;
}
.person1 {margin-top: 19px;}
.person1 img{margin-left: -15px;}


/****Bidon Model***/
#bidon{color: #5e350d;
  font-family: 'source_sans_prolight';
  font-size: 48px;
  border-bottom: 5px solid #fab518;
  padding-bottom: 10px;
  margin: 1px auto;
  margin-left: 50px;
margin-right: 50px;
}

.ladyfashion{
  font-family: 'source_sans_probold';
  font-size: 24px;
  color: #5e350d;
  line-height: 11px;
margin-left: 50px;
}
.bidgigxyz{
	border-radius: 5px;
padding: 36px;
height: 453px;
width: 800px;
margin-left: -16px;

}
#bidimg{
	float: right;

}